@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
body { 
    background-color: antiquewhite;
}
h1{
      text-align: center;
      font-size: large 90px;
       color:wheat;
       font-family:Mouse Memoirs;
}
   img{
         width: 250px;
         height: 250px;
         margin: 30px auto;
         display: block;
   }
   .banner{
           background-color: black;
           padding-bottom: 30px;
   }
   p{
      text-align: center;
      color:cyan;
      font-size: 100px;
      font-weight: 200;
      font-family: Mouse Memoirs;

   }